<div style="text-align: center;">
    <span style="font-size:24px;">Demande de consentement</span></div>
<div>
    &nbsp;</div>
<div>
    Madame, Monsieur,<br />
    <br />
    <font face="Helvetica, serif" style="orphans: 0; widows: 0;"><span lang="en-US">Afin de se conformer &agrave; la nouvelle </span></font><font face="Helvetica, serif" style="orphans: 0; widows: 0;"><span lang="en-US"><i>Loi canadienne anti-pourriel</i></span></font><font face="Helvetica, serif" style="orphans: 0; widows: 0;"><span lang="en-US"> C-28 et de maintenir notre relation d&#39;affaires &agrave; travers nos &eacute;changes &eacute;lectroniques, il est n&eacute;cessaire d&rsquo;obtenir votre consentement pour continuer &agrave; recevoir nos communications par courriel, dont notamment&nbsp;:</span></font></div>
<ul>
    <li>
        demandes de documentation</li>
    <li>
        publications</li>
    <li>
        invitations &agrave; nos conf&eacute;rences et &eacute;v&egrave;nements</li>
    <li>
        nouvelles</li>
</ul>
<div>
    Veuillez cliquer sur le lien suivant pour continuer ou non &agrave; recevoir nos envois &eacute;lectroniques :&nbsp;<br />
    &nbsp;</div>
<div>
    <a href="http://amundi.antro.ca/inscription.php?p=*|FNAME|*&n=*|LNAME|*&c=*|EMAIL|*&l=fr&co=*|COMPAGNIE|*">Oui, je consens &agrave; continuer de recevoir vos communications &eacute;lectroniques</a><br />
    <a href="http://amundi.us3.list-manage.com/unsubscribe?u=72d1ecec362afd5eaf8df81ef&id=8eb3530f26">Non, je ne desire plus recevoir vos communications &eacute;lectroniques</a><br />
    &nbsp;</div>
<div>
    En l&rsquo;absence d&rsquo;un consentement de votre part, nous nous verrons dans l&rsquo;obligation de retirer votre nom de notre liste d&rsquo;envoi d&egrave;s l&rsquo;entr&eacute;e en vigueur de cette nouvelle loi, vous privant ainsi d&rsquo;&ecirc;tre inform&eacute; de nos communications, qu&rsquo;elles soient relatives aux affaires en cours, ou sur la tenue de nos conf&eacuterences et &eacute;v&egrave;nements, ainsi que de la publication de nos bulletins d&rsquo;informations.</div>
<div>
    <br />
    N&rsquo;h&eacute;sitez pas &agrave; communiquer avec nous <a href="malito:canada.amundi@amundi.com">canada.amundi@amundi.com</a> pour plus de renseignements. Nous vous remercions &agrave; l&rsquo;avance de votre collaboration.</div>
<div>
    &nbsp; &nbsp;</div>
<div>
    L&rsquo;&eacute;quipe d&rsquo;Amundi Canada &nbsp;</div>
<div>
    Gilbert Lavoie, Chantale Bacon et Jos&eacute;e Gagnon<br />
    <br />
    <br />
    <div>
        <span style="font-size:11px;">Amundi Canada Inc., 2000, Avenue McGill College, Bureau 1920 Montr&eacute;al QC H3A 3H3 (&laquo; Amundi Canada &raquo;), est une soci&eacute;t&eacute; constitu&eacute;e aux termes des lois du Canada et une filiale &agrave; part enti&egrave;re d&rsquo;Amundi, une soci&eacute;t&eacute; constitu&eacute;e aux termes des lois fran&ccedil;aises. Toutes deux sont des filiales indirectes de Cr&eacute;dit Agricole (&agrave; hauteur de 75 %) et de Soci&eacute;t&eacute; G&eacute;n&eacute;rale (&agrave; hauteur de 25 %), deux banques constitu&eacute;es aux termes des lois fran&ccedil;aises qui ont convenues de regrouper leurs activit&eacute;s de gestion d&rsquo;actifs sous l&rsquo;appellation &laquo; Amundi &raquo;. Amundi Canada a d&eacute;l&eacute;gu&eacute; &agrave; Amundi, dans le cadre d&#39;ententes de sous-conseiller conclues avec elle, la gestion des actifs &agrave; elle confi&eacute;e par le client ci-haut mentionn&eacute; aux termes du contrat de gestion de portefeuille intervenu entre Amundi Canada et ce client et dans le cadre duquel Amundi Canada agit &agrave; titre de conseiller en valeurs. Amundi Canada est inscrit en tant que gestionnaire de portefeuille et courtier sur le march&eacute; dispens&eacute; dans les provinces du Qu&eacute;bec, de l&#39;Ontario, de l&#39;Alberta et de la Colombie-Britannique.&nbsp;</span></div>
    <div>
        &nbsp;</div>
    <div>
        <span style="font-size:11px;">Les informations fournies par Amundi Canada par la pr&eacute;sente sont confidentielles et s&rsquo;adressent exclusivement &agrave; des investisseurs qualifi&eacute;s et &agrave; toute autre personne dispens&eacute;e aux termes des lois applicables. Les informations ne visent pas &agrave; &ecirc;tre distribu&eacute;es &agrave; ni &agrave; &ecirc;tre utilis&eacute;es par toute personne ou entit&eacute; dans un pays ou une juridiction o&ugrave; cette distribution ou utilisation serait contraire aux dispositions l&eacute;gales ou r&eacute;glementaires, ou qui imposerait &agrave; Amundi Canada ou ses soci&eacute;t&eacute;s affili&eacute;es (ensemble, le &laquo; groupe Cr&eacute;dit Agricole &raquo;) de se conformer aux obligations d&rsquo;enregistrement de ces pays ou juridictions. En outre, les donn&eacute;es et informations figurant dans ce document sont fournies &agrave; titre d&rsquo;information uniquement. &Agrave; moins de stipulation explicite, aucune information fournie ne constitue une offre d&rsquo;achat, une sollicitation de vente de titres, un conseil d&rsquo;investissement quant &agrave; l&#39;achat ou &agrave; la vente d&rsquo;un titre, une offre ou une sollicitation par Amundi Canada ou un autre membre quelconque du groupe Cr&eacute;dit Agricole de fournir un conseil d&#39;investissement ou un service financier, juridique, fiscal ou de placement ou d&rsquo;acheter ou vendre des titres ou autres instruments financiers. Ni Amundi Canada ni aucun membre du groupe Cr&eacute;dit Agricole ne donne de garantie ni ne fait aucune d&eacute;claration, expresse ou tacite, que les informations fournies sont exactes, compl&egrave;tes ou &agrave; jour.&nbsp;</span></div>
</div>
<br />
