<div style="text-align: center;">
    <span style="font-size:24px;">Request for Consent</span></div>
<div>
    <br />
    Dear Sir/Madam,<br />
    &nbsp;</div>
<div>
    To comply with the <em>new Canada&#39;s Anti-Spam Legislation Bill C-28</em> and to maintain our business relationship through our electronic trading, it is necessary to obtain your consent to continue to receive our email communications, including: &nbsp;</div>
<ul>
    <li>
        Requests for documentation</li>
    <li>
        Publications</li>
    <li>
        Invitations to conferences and events</li>
    <li>
        News</li>
</ul>
<br />
<div>
    Please click on the link below to confirm your intention to continue or not to receive our electronic mailings.<br />
    &nbsp;</div>
<div>
    <a href="http://amundi.antro.ca/inscription.php?p=*|FNAME|*&n=*|LNAME|*&c=*|EMAIL|*&l=en&co=*|COMPAGNIE|*">Yes, I agree to continue to receive your email communications</a><br />
    <a href="http://amundi.us3.list-manage1.com/unsubscribe?u=72d1ecec362afd5eaf8df81ef&id=9cff4dc939">No, I don&rsquo;t want to continue to receive your email communications</a><br />
    &nbsp;</div>
<div>
    In the absence of consent from you, we will have to remove your name from our mailing list from the entry into force of the new law, thus depriving you be informed of our communications, whether related to current business or our conferences, events and publications.<br />
    &nbsp;</div>
<div>
    For more information, please do not hesitate to contact us <a href="mailto:canada.amundi@amundi.com"> canada.amundi@amundi.com</a>. Thank you in advance for your cooperation.</div>
<div>
    &nbsp;</div>
<div>
    The Amundi Canada Team</div>
<div>
    Gilbert Lavoie, Chantale Bacon and Jos&eacute;e Gagnon<br />
    <br />
    <br />
    <div>
        <span style="font-size:11px;">Amundi Canada Inc., 2000 McGill College Avenue, Suite 1920 Montreal QC H3A 3H3 (&ldquo;Amundi Canada&rdquo;), is a corporation incorporated under the laws of Canada and a wholly-owned subsidiary of Amundi, a corporation incorporated under French law. Both are indirectly held jointly by Cr&eacute;dit Agricole (to the level of 75 %) and Soci&eacute;t&eacute; G&eacute;n&eacute;rale (to the level of 25 %), two banks incorporated under French law which have agreed to combine their asset management activities under the name of &ldquo;Amundi&rdquo;. Asset management services in respect of the above-mentioned client provided for pursuant to the portfolio management agreement entered into between Amundi Canada and such client has been delegated by Amundi Canada to Amundi, pursuant to sub-advisor agreements entered with Amundi. Amundi Canada is registered as portfolio manager and exempt market dealer in the provinces of Quebec, Ontario, Alberta and British Columbia.&nbsp;</span></div>
    <div>
        &nbsp;</div>
    <div>
        <span style="font-size:11px;">The information provided herein is confidential and is addressed exclusively to Canadian institutional investors and to any other exempt category within the meaning of the applicable laws. This information is not meant to be distributed or used by any person or entity in a country or jurisdiction where such distribution or use would be contrary to legal or regulatory requirements, or would obligate Amundi Canada or its affiliates (together, the &ldquo;Cr&eacute;dit Agricole group&rdquo;) to any registration requirements in such country or jurisdiction. Moreover, unless otherwise specified, the date provided herein is for informational purposes only and it does not constitute an offer to buy, a solicitation to sell, an investment advice regarding a security, an offer or solicitation by Amundi Canada or by any member of the Cr&eacute;dit Agricole group to provide an advice or a financial, legal, fiscal or investment service or to buy or sell financial instruments. Neither Amundi Canada nor any member of the Cr&eacute;dit Agricole group can warrant or declare, implicitly or explicitly, that the information provided herein is exact, complete or current.</span></div>
</div>
<br />
