<em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, tous droits réservés.</em><br />
*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*<br />
<br />
<strong>Notre adresse</strong><br />
*|HTML:LIST_ADDRESS_HTML|* *|END:IF|*<br />
<br />
<a class="utilityLink" href="*|UNSUB|*">se désinscrire de tous messages</a>&nbsp;&nbsp;&nbsp; <a class="utilityLink" href="*|UPDATE_PROFILE|*">mettre à jour mes préférences</a>&nbsp;<br />
<br />
*|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*